.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.container .title,
.title a {
  color: #388e3c;
}

.section:first-of-type {
  padding: 20px 20px 0px 20px;
}

.section:first-of-type,
.section:first-of-type .nav {
  background: #4caf50;
}

.section:first-of-type,
.section:first-of-type .nav .nav-item a,
.section:first-of-type,
.section:first-of-type .nav .title {
  color: #fff;
}
